.button {
  padding: 0.5rem;
  background-color: #5914c8;
  color: #ffffff;
  border-radius: 0.25rem;
  border: none;
  line-height: 1;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, background-color 0.3s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  transform: translate3d(0px, 1px, 0px);
}
